<div id="my-portfolio">
  <p class="portfolio">
    <span>M</span><span>y</span> <span>P</span><span>o</span><span>r</span
    ><span>t</span><span>i</span><span>l</span><span>l</span><span>i</span
    ><span>o</span>
  </p>
  <p>
    A small gallery of recent projects chosen by me. I have done them all
    together with amazing people from companies around the globe. It only a drop
    in ocean compare the entire list
  </p>
  <p>Interested to see more? Please vist <a href="#">My Work</a> page.</p>
  <div class="gallery">
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />

      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
  </div>
</div>
