<div id="myself">
    <div class="text-intro">
        <p><span>M</span><span>e</span><span>,</span> <span>M</span><span>y</span><span>s</span><span>e</span><span>l</span><span>f</span> <span>a</span><span>n</span><span>d</span> <span>I</span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
    </div>
    <div class="img-intro">
        <img src="../../../images/portfollio/developer.jpg" alt="">
    </div>
</div>