<div id="portfolio-home">
    <div class="intro">
        <p><span>H</span><span>i</span><span>,</span></p>
        <p>
            <span>I</span><span>'</span><span>m</span>
            <span>S</span><span>u</span><span>l</span><span>t</span><span>a</span><span>n</span><span>,</span>
        </p>
        <p>
            <span>W</span><span>e</span><span>b</span>
            <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
        </p>
        <button class="contact-button">
            Contact me !
        </button>
    </div>
</div>